<div class="row">
  <div class="col-sm-12">
    <label>Data de início</label>
    <input type="Date" #data>
    <br>
    <label>Data final</label>
    <input  type="Date" #data2>
    <br>
    <button type="button" class="btn btn-dark" (click)="listarPorIntervalo(data.value, data2.value)">Filtrar por Data</button>
    <br>
    <button type="button" class="btn btn-dark" (click)="listarTodosOsExtratos()">Listar Todos Extratos</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let extrato of arrayExtratos">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title badge bg-warning">{{extrato.data}}</h5>
        <p class="card-text">AG:{{extrato.agencia}} Nº: {{extrato.numeroConta}}</p>
        <p class="card-text"><span class="badge text-bg-dark">Operação: {{extrato.tipoDeOperacao}}</span></p>
        <p class="card-text badge bg-danger" *ngIf="extrato.tipoDeOperacao == 'saque'">Valor: {{extrato.valor}}</p>
        <p class="card-text badge bg-success" *ngIf="extrato.tipoDeOperacao == 'deposito'">Valor: {{extrato.valor}}</p>
        <p class="card-text badge bg-info" *ngIf="extrato.tipoDeOperacao == 'transferência'">Valor: {{extrato.valor}}</p>
      </div>
    </div>
  </div>
</div>
