<div class="row">
  <div class="col-12">
    <h2 class="pb-2 border-bottom">Contas</h2>
  </div>
  <div class="col-12">
    <table class="table table-striped table-sm" *ngIf="!listagemPorCpf">
      <thead>
      <tr>
        <th scope="col">Agência</th>
        <th scope="col">Número</th>
        <th scope="col">Cliente</th>
        <th scope="col">CPF</th>
        <th scope="col">saldo</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conta of contas">
        <td>{{ conta.agencia}}</td>
        <td>{{ conta.numero }}</td>
        <td>{{conta.cliente?.nome }}</td>
        <td>{{conta.cliente?.cpf | pipeCpf:true}}</td>
        <td>{{conta.saldo }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-sm btn-info dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ações
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/operacao/',conta.agencia,conta.numero,'saque']">sacar</a></li>
              <li><a class="dropdown-item" [routerLink]="['/operacao/',conta.agencia,conta.numero,'deposito']">depositar</a></li>
              <li><a class="dropdown-item" (click)="excluirContaPorId(conta.id||0)">Excluir</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-striped table-sm" *ngIf="listagemPorCpf">
      <thead>
      <tr>
        <th scope="col">Agência</th>
        <th scope="col">Número</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conta of contas">
        <td>{{ conta.agencia}}</td>
        <td>{{ conta.numero }}</td>
        <td>
          <div class="dropdown">
            <button
              class="btn btn-sm btn-info dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Ações
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/operacao/',conta.agencia,conta.numero,'saque']">sacar</a></li>
              <li><a class="dropdown-item" [routerLink]="['/operacao/',conta.agencia,conta.numero,'deposito']">depositar</a></li>
              <li><a class="dropdown-item" (click)="excluirContaPorId(conta.id||0)">Excluir</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
